.navbar {
    padding-top: 80px;
    background: #2D2D30;
    height: 100vh;
}

.navbar a li{
    cursor       : pointer;
    padding      : 30px 0;
}

.navbar a:hover li { background: #000; }

.navbar a li {
    color      : #666;
    font-size  : 16px;
    padding-left: 20px;
}

.navbar a:hover li { color: #fff; }

#grp-content { top: 60px; }
