{% extends "admin_base.html" %}

{% block title %} Nova Peça {% endblock %}

{% block extrastyle %}
    #id_slug {
        border: none;
        color:  #ccc;
    }
    label[for=id_slug] { color: #ccc; }
    input[type=text] { width: 80%; }
{% endblock %}

{% block content %}
    <h1 class="page-header">Sobre o FutureMaster</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            Peças
        </div>
        <div class="panel-body">
            <form method="post" enctype="multipart/form-data">{% csrf_token %}
                {% for field in form_principal %}
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ field.label_tag }} {{ field }} {{ field.errors }}
                                <p class="text-mute">
                                    <small>{{ field.help_text }}</small>
                                </p>
                            </div>
                        </div>
                {% endfor %}
                {% for field in quantidade_formset %}
                        <div class="col-xs-12">
                            <div class="form-group">
                                {{ field.label_tag }} {{ field }} {{ field.errors }}
                                <p class="text-mute">
                                    <small>{{ field.help_text }}</small>
                                </p>
                            </div>
                        </div>
                {% endfor %}
                <p class="text-right">
                    <button class="btn btn-primary" type="submit">Salvar</button>
                </p>
            </form>
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags == "success" %} class="alert alert-dismissable alert-success" {% endif %} role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>{# /.panel #}
{% endblock content %}

{% block extrascript %}
    $('#id_peça-genero').parent().parent().append('<hr />');
    $('#id_peça-mostrar_no_site').parent().append('<hr />');
    $('#id_peça-custo_unitario').parent().append('<hr />');
    $('#id_peça-preco_unitario_promocional').parent().append('<hr />');
    $('#id_peça-nome').keyup(function(){
        var text = $(this).val();
        $('#id_slug').val(convertToSlug(text));
    })
{% endblock extrascript %}
