{% extends "admin_base.html" %}

{% block title %} Nova Peça {% endblock %}

{% block content %}
    <h1 class="page-header">Sobre o FutureMaster</h1>
    <div class="panel panel-default">
        <div class="panel-heading">
            Cadastro
        </div>
        <div class="panel-body">
            <form action="add_peca.html" method="post">{% csrf_token %}
                <div class="row">
                    {% for field in form %}
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="form-group">
                                {{ field.label_tag }} {{ field }}
                                <p class="text-mute">
                                    <small>{{ field.help_text }}</small>
                                </p>
                                {{ field.errors }}
                            </div>
                        </div>
                    {% endfor %}

                </div>
                <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        </div>
        <div class="panel-footer">
            {% if messages %}
                {% for message in messages %}
                    <div {% if message.tags == "success" %} class="alert alert-dismissable alert-success" {% endif %} role="alert">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </div>{# /.panel #}
{% endblock content %}
